/* Tailwind.css or your custom CSS file */

.section-home-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.34) 0%, rgba(0, 0, 0, 0.34) 100%), url('/assets/HM-home-section.jpeg'), lightgray 50% / cover no-repeat;
    /*background-image: url('/assets/HM-home-section.jpeg');*/
    /*background-attachment: fixed;*/
}

.section-offer-bg {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.00) 25.56%), linear-gradient(0deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.00) 65.6%), url('/assets/HM-offer-section.png'), lightgray 0px -92.458px / 113.767% 112.349% no-repeat;
    /*background-image: url('/assets/HM-offer-section.png');*/
}


.section-about-bg {
    background: linear-gradient(73deg, rgba(0, 0, 0, 0.20) 5.12%, rgba(0, 0, 0, 0.13) 31.06%, rgba(0, 0, 0, 0.00) 46.22%), url('/assets/HM-about-section.png'), lightgray 1.381px -101.282px / 100% 112.548% no-repeat;
}
.section-gallery-bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.00) 32.31%), linear-gradient(0deg, rgba(0, 0, 0, 0.34) 0%, rgba(0, 0, 0, 0.00) 36.9%), url('/assets/HM-gallery-section.png'), lightgray 50% / cover no-repeat;
}

.section-contact-bg {
    background: linear-gradient(179deg, rgba(0, 0, 0, 0.20) 1.22%, rgba(0, 0, 0, 0.00) 25.9%), linear-gradient(60deg, rgba(0, 0, 0, 0.20) 31.95%, rgba(0, 0, 0, 0.00) 52.71%), url('/assets/HM-contact-section.png'), lightgray 50% / cover no-repeat;
}


/* Ensure the backgrounds cover the entire section and are centered */
.section-home-bg, .section-offer-bg, .section-about-bg, .section-gallery-bg, .section-contact-bg  {
    background-size: cover;
    background-position: center;
}

.clip-home {
    background-position: top;
    clip: rect(0,auto,6rem,0);
}


/* Base navbar styling and transition setup */
.base-navbar-styles {
    transition: transform 0.3s ease-in-out;
}

/* Slide-up class */
.slide-up {
    transform: translateY(-100%); /* Adjust as needed */
}

/* Slide-down class (optional if you need to adjust initial position) */
.slide-down {
    transform: translateY(0);
}

.page-section {
    max-height: 72rem;
    @media (max-width: 640px) {
        max-height: 700px;
    }
}

.page-section-container {
    height: 50vh;
    @media screen(sm) {
        height: 100vw;
    }
    @media screen(lg) {
        height: 64rem;
    }
}